.bur {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background: #2ecc71;
  animation: start 1s;
}

@keyframes start {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

header ul {
  overflow: hidden;
  position: relative;
  background: rgba(26, 26, 26, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  list-style: none;
}

header ul li {
  float: left;
}

header ul li a {
  display: block;
  position: relative;
  margin: 15px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 18px;
  color: var(--t-text);
  text-shadow: var(--t-text-shadow);
}

header ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0%;
  height: 3px;
  border-radius: 1.5px;
  background: #e67e22;
  transition: left 0.3s, width 0.3s;
}

header ul li a:hover::after {
  left: 0%;
  width: 100%;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  color: var(--t-text);
  text-shadow: var(--t-text-shadow);
  animation: text 4s steps(17) infinite;
}

@keyframes text {
  from {
    width: 0;
  }

  to {
    width: 340px;
  }
}
